@model uwc4.Store.Models.FilterModel

<div class="well sidebar-nav filter">
        
    <ul class="nav nav-list">
        	@foreach (var group in Model.Items)
		{
			<li class="nav-header">@group.Title</li>
			foreach (var item in group.Items)
			{
				<li>
					@if(item.Disabled)
					{
						<a class="chk-box disabled">
							@item.Title
						</a>
					}
					else
					{
						<a class="chk-box @(item.Checked ? "checked" : "")" 
							href="@Url.Action("List", new { category = ViewContext.RouteData.GetRequiredString("category"), filter = item.Link })">
							@item.Title (@(group.HasCheckedItems && !item.Checked ? "+" : "")@item.Count)
						</a>
					}
				</li>
			}
		}
    </ul>
</div>
